html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: 0.2px; */

  background-image: url("../images/header.png"), url("../images/anchor.svg"),
    url("../images/ship.svg");
  /* background-size: 100% auto; */
  font-family: "PT Mono";
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-size: auto, 90vw, 90vw;
  background-position: center top, right -40vw top -15vw, bottom left 120%;
}
.header {
  padding: 30px;
}
p {
  font-family: "PT Mono";
  font-size: 16px;
}
.logo {
  height: 114px;
  width: 271px;
  background-image: url("../images/anker-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.container {
  padding: 0 30px;
  max-width: 1140px;
  margin: 0 auto;
}

.modal {
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  font-family: "Montserrat";
  padding: 30px;
  border-radius: 3px;
  height: 302px;
  position: relative;
  margin-bottom: 30px;
}
.modal-button {
  background: #00984e;
  opacity: 0.8;
  border-radius: 40px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: white;
  width: 50%;
  cursor: pointer;
  cursor: hand;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.site-nav {
  position: absolute;
  top: 35px;
  right: 85px;
  font-family: "PT Mono";
  text-transform: uppercase;
  z-index: 100;
}

.site-nav a.nav-item {
  margin-left: 37px;
  color: #fff;
}
.site-nav a {
  text-decoration: none;
}

.margin-top {
  margin-top: 70px;
}

.margin-bottom {
  margin-bottom: 100px;
}
.how-icon {
  width: 100%;
  height: 200px;
}
.icon-fingerprint {
  background-image: url("../images/fingerprint.svg");
  background-repeat: no-repeat;
  background-position: 22%;
}

.icon-decentralized {
  background-image: url("../images/decentralized.svg");
  background-repeat: no-repeat;
  background-position: 35%;
}

.icon-verify {
  background-image: url("../images/verify.svg");
  background-repeat: no-repeat;
  background-position: 40%;
}
.modal-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: -8px;
}
.dropzone > div {
  width: 100% !important;
  background-color: rgb(225, 225, 225);
  color: grey;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  cursor: hand;
}
.dd-content {
  padding: 80px;
  line-height: 20px;
  text-align: center;
}
.dd-text-bold {
  font-weight: bold;
}

.modal-item {
  padding: 15px 0;
  color: #666;
  border-top: 1px solid #999;
  font-size: 14px;
  line-height: 18px;
  word-break: break-all;
}

.modal-item-title {
  text-transform: uppercase;
  font-size: 11px;
  color: #333;
  font-weight: bold;
}
.modal-item-content {
  display: flex;
  flex-wrap: wrap;
}
.modal-item-description {
  flex: 1 0 75%;

  display: flex;
  align-items: center;
}
.modal-item-icon {
  flex: 0 0 25px;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}
.cross-icon {
  background-image: url("../images/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  cursor: hand;
}
.file-icon {
  background-image: url("../images/file.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.fingerprint-icon {
  flex: 0 0 35px;
  height: 40px;
  margin-right: -3px;
  background-image: url("../images/fingerprint-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
